{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
    <script>
        var cols_data = {{ cols_data }};
        var data_from = JSON.parse('{{ cols_meta | tojson | safe}}');
        var cols_meta = data_from.columns_meta;
        console.log(cols_meta);

        console.log("hello");

        function doAddGraph(container, rawData) {

            var data = prepData(rawData);
            var layout = {
                title: 'Time series of {{ cur_file_name }}',
                xaxis: {
                    rangeslider: {}
                },
                yaxis: {
                }
            };

            Plotly.plot(container, data, layout);
        }

        function prepData(rawData) {
            var x = [];
            var y = [];

            console.log(rawData.length)

            for (var i = 0; i < rawData.length; i ++) {
                x.push(i + 1);
                y.push(rawData[i]);
            }

            return [{
                mode: 'lines',
                x: x,
                y: y
            }];
        }
    </script>

    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add a graph
        </button>
    </div>

    <div class="row">
    </div>

    <div class="row" id="graphContainer">
        <div class="row">
            <div id="graph"></div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title d-inline" style="display: inline">Select a column</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="columnSelect">Column: </label>
                <select class="form-control" id="columnSelect">
                    {% for col in cols_meta[1:] %}
                        <option value="{{ col.col_idx }}">{{ col.text }}</option>
                    {% endfor %}
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addGraph()">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        function addGraph() {
            var col = $('#columnSelect').val();

            $('#graphContainer').append('<div class="row"><div id="graph' + col + '"></div></div>');

            doAddGraph('graph' + col, cols_meta[col], cols_data[col]);
        }
    </script>

{% endblock %}
