{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
    <script>
        var cols_data = {{ cols_data }};
        var data_from = JSON.parse('{{ cols_meta | tojson | safe}}');
        var cols_meta = data_from.columns_meta;
        var graph_cnt = 0;
        var selected_col = 0;

        /*function onSelect(evtData) {
            if (evtData['xaxis.range[0]'] != null && evtData['xaxis.range[1]'] != null){
                var xstart = evtData['xaxis.range[0]'];
                var xend = evtData['xaxis.range[1]'];

                console.log(xstart, xend);

                $.get('/getinfo?' + 'xstart=' + xstart + '&xend=' + xend + '&col_idx' =
            }
        }*/

        function doAddGraph(id, col, graphTitle, data) {
            var graphDiv = document.getElementById(id);
            var container = document.getElementBy

            var graphData = prepData(data);
            var layout = {
                title: '' + graphTitle + ' of {{ cur_file_name }}',
                xaxis: {
                    rangeslider: {}
                },
                yaxis: {
                }
            };

            Plotly.plot(graphDiv, graphData, layout, {displaylogo: false, modeBarButtonsToRemove: ['sendDataToCloud', 'toImage']});

            graphDiv.on('plotly_relayout', function(evtData) {
                if (evtData['xaxis.range'] != null){
                    var xstart = evtData['xaxis.range'][0];
                    var xend = evtData['xaxis.range'][1];

                    $.get('/getinfo', { xstart: xstart, xend: xend, col_idx: col }).done( function (data) {
                        var suffix = id.replace("graph", "");
                        $('#stdev' + suffix).text(data.stdev);
                        $('#p2p' + suffix).text(data.p2p);
                        $('#median' + suffix).text(data.median);
                        $('#df' + suffix).text(data.df + " peaks");
                    });
                }
            });
        }

        function prepData(rawData) {
            var x = [];
            var y = [];

            for (var i = 0; i < rawData.length; i ++) {
                x.push(i + 1);
                y.push(rawData[i]);
            }

            return [{
                mode: 'lines',
                x: x,
                y: y
            }];
        }
    </script>

    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add a graph
        </button>
    </div>

    <div class="row">
    </div>

    <div class="row" id="graphContainer">
        <div class="row">
            <div id="graph"></div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title d-inline" style="display: inline">Select a column</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="columnSelect">Column: </label>
                <select class="form-control" id="columnSelect">
                    {% for col in cols_meta.columns_meta[1:] %}
                        <option value="{{ col.col_idx }}">{{ col.text }}</option>
                    {% endfor %}
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addGraph()">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="exportModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title d-inline" style="display: inline">Export options</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exportOption" id="allField" value="allField" >
                  <label class="form-check-label" for="allField">
                    Extract all fields
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exportOption" id="thisField" value="thisField" checked>
                  <label class="form-check-label" for="thisField">
                    Extract only this field
                  </label>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="exportData()">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        function addGraph() {
            var col = $('#columnSelect').val();

            graph_cnt ++;
            var id = 'graph' + graph_cnt;

            $('#graphContainer').append('<div id="con_' + id + '" class="row"><div id="' + id + '"></div></div>');
            var row = $('#con_' + id).append('<div class="row"></div>');
            row.append('<table class="table">\
                            <tbody>\
                                <tr>\
                                    <td style="width: 150px" align="right"><h5>SD:</h5></td>\
                                    <td style="width: 150px" align="left"><h5 id=stdev' + graph_cnt + '></h5></td>\
                                    <td style="width: 150px" align="right"><h5>Peak to Peak:</h5></td>\
                                    <td style="width: 150px" align="left"><h5 id=p2p' + graph_cnt + '></h5></td>\
                                    <td style="width: 150px" align="right"><h5>Median:</h5></td>\
                                    <td style="width: 150px" align="left"><h5 id=median' + graph_cnt + '></h5></td>\
                                    <td style="width: 150px" align="right"><h5>Data Frequency:</h5></td>\
                                    <td style="width: 150px" align="left"><h5 id=df' + graph_cnt + '></h5></td>\
                                    <td><button type="button" class="btn btn-success" onclick="openExportModal(' + col + ', ' + graph_cnt + ')">\
                                            Export\
                                        </button>\
                                    </td>\
                                    <td><button type="button" class="btn btn-danger" onclick="removeGraph(' + graph_cnt + ')">\
                                            Remove\
                                        </button>\
                                    </td>\
                                </tr>');

            doAddGraph(id, col, cols_meta[col].text, cols_data[col]);
        }

        function removeGraph(graph_id) {
            $('#con_graph' + graph_id).remove();
        }

        function openExportModal(col, graph_id) {
            selected_col = col;

            selected_xstart = $('#graph' + graph_id)[0].layout.xaxis.range[0];
            selected_xend = $('#graph' + graph_id)[0].layout.xaxis.range[1];
            $("#exportModal").modal();
        }
        function exportData() {
            thisOnly = $('#thisField')[0].checked;
            $.get('/exportdata', { xstart: selected_xstart, xend: selected_xend, col_idx: selected_col, this_only: thisOnly }).done( function (data) {
                if (data.status == "success")
                    toastr.success("Exported to " + data.file);
            });
        }

    </script>

{% endblock %}
